.card{
    width: 200px;
    height: 425px;
    border: 1px black solid;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
    text-align: center;
}

:host.hover .card{
    border: 2px black solid;
    margin: 19px;
    cursor: pointer;
}

:host.active .card{
    background: lightgray;
}

.card img.cover{
    width: 180px;
    height: 200px;
}