<h2 class="header">Menu:</h2>
<hr class="separator" />

<menu-item title="©Copyleft" (menuClick)="showCopiright()" collapsedIcon="icons/copyright.png"></menu-item>
<hr class="separator" />
<menu-item title="Go Google Search" href="https://google.com" collapsedIcon="icons/google.png"></menu-item>
<hr class="separator" />
<menu-item title="Go to Angular Docs" href="https://angular.dev" collapsedIcon="icons/angular.png"></menu-item>
<hr class="separator" />
<menu-item title="Some more items" collapsedIcon="icons/question.png"></menu-item>
<hr class="separator" />

<menu-item id='collapseButton' title="Hide menu" (menuClick)="collapsePanel()" collapsedIcon="icons/collapse.png"></menu-item>