:host{
    width: 220px;
    display: block;
    float: left;
    position: relative;
}

:host.collapsed{
    width: 70px;
}

.header{
    text-align: center;
}

hr.separator{
    visibility: hidden;
    width: 100%;
}

menu-item{
    float: right;
}

menu-item#collapseButton{
    position: absolute;
    bottom: 35px;
    right: 0;
}