.add-panel
{
    width: 100%;
    height: 110px;
}

.add-panel .add-param
{
    display: block;
    float: left;
    margin: 10px;
}

.add-panel .add-param input
{
    width: 100px;
}
.add-panel .add-param input[type=checkbox]
{
    width: auto;
}

.add-panel #add
{
    float: right;
    margin: 30px;
    padding: 15px;
}