#booksSettings
{
    width: 32px;
    height: 32px;
    background-image: url("/icons/settings.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.search-panel
{
    width: 100%;
    height: 110px;
}

.search-panel .search-param
{
    display: block;
    float: left;
    margin: 10px;
}

.search-panel .search-param input
{
    width: 100px;
}

.search-panel #search
{
    float: right;
    margin: 30px;
    padding: 15px;
}