.card{
    width: 200px;
    height: 425px;
    border: 1px black solid;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
    text-align: center;
}

.card img.cover{
    width: 180px;
    height: 200px;
}